.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
	background: #fafafa;

	&__social {
		img {
			width: 40px;
			margin: 0 5px;
		}

		img:hover {
			animation: heartbeat 1.7s infinite ease-in;
		}
	}

	p {
		margin: 5px 0;
	}
}